<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body onload="initialize()">
<p id="latitude"></p>
<h3>My Google Maps Demo</h3>
<div id="map"></div>
<div>
    <input id="address" type="textbox" value="Sydney, NSW">
    <input type="button" value="Encode" onclick="codeAddress()">
</div>
<script>
    var geocoder = new google.maps.Geocoder();
    var map;

    function initialize() {
        geocoder = new google.maps.Geocoder();
        var uluru = {lat: 51.5033640, lng: -0.1276250};
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }

    function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA18e8DcqZrBjPGdmshVE__v8pyaD2udm4&callback=initMap">
</script>
</body>
</html>